{{#bs-modal class="voucher-modal" as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      <i class="glyphicon glyphicon-send"></i> Would you like to create voucher for {{record.email}} ?
    </h4>
  {{/modal.header}}

  {{#modal.body}}

    <div class="form-group">
      <label>Number of vouchers</label>
      {{input type="number" class="form-control voucher-modal__vouchers-number-input" value=number placeholder="Number of vouchers"}}
    </div>

    <div class="form-group">
      <label>Original Balance</label>
      {{input type="number" class="form-control voucher-modal__orig-balance-input" value=voucher.originalBalance placeholder="Original Balance"}}
    </div>

    <div class="form-group">
      <label>Remaining Balance</label>
      {{input type="number" class="form-control voucher-modal__remaining-balance-input" value=voucher.remainingBalance placeholder="Remaining Balance"}}
    </div>

    <div class="form-group">
      <label>Issue Date</label>
      {{ember-flatpickr
        allowInput=false
        altInput=true
        altInputClass='my-alt-input'
        clickOpens=true
        date=(readonly voucher.issueDate)
        dateFormat=flatpickrDateFormat
        class="form-control voucher-modal__issue-date-input"
        onChange=(action (mut voucher.issueDate))
      }}
    </div>

    <div class="form-group">
      <label>ExpiryDate Date</label>
      {{ember-flatpickr
        allowInput=false
        altInput=true
        altInputClass='my-alt-input'
        clickOpens=true
        date=(readonly voucher.expiryDate)
        dateFormat=flatpickrDateFormat
        class="form-control voucher-modal__expiry-date-input"
        onChange=(action (mut voucher.expiryDate))
      }}
    </div>

  {{/modal.body}}

  {{#modal.footer as |footer|}}

    {{#if (gt clientsAccounts.length 1)}}
      <h5><i class="glyphicon glyphicon-alert"></i> We have found more than one accounts connected to your email!</h5>
      <div class="form-group">
        <div>
          <label>Create vouchers for the all found accounts?
            {{input type="checkbox" class="voucher-modal__remaining-balance" checked=multiAccount placeholder="Remaining Balance"}}
          </label>
        </div>
      </div>
    {{/if}}

    {{#bs-button
      onClick=(action modal.close)
      type="danger"
      class="voucher-modal__close-voucher-modal-button"
    }}
      Oh no, forget it!
    {{/bs-button}}

    {{#bs-button
      onClick=(route-action "createVoucher" record voucher number modal.close multiAccount)
      type="success"
      class="voucher-modal__create-voucher-button"
    }}
      Yeah!
    {{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
